.movie-container {
  border: solid 10px black;
  border-width: 100%;
  display: grid;
  box-sizing: border-box;
  justify-content: center;
  grid-template-columns: 1fr auto auto 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 10px;
}

.movie-title .movie-description {
  font-family: 'Nunito', 'Helvetica Neue', 'Helvetica', Arial,
    sans-serif;
}

.movie-title {
  grid-column: 2 / 3;
  font-size: 18px;
  letter-spacing: 1.5px;
}

.movie-year {
  grid-column: 3/4;
  grid-row: 1/1;
}

.movie-description {
  grid-column: 2;
  grid-row-start: 2;
  width: 150px;
  padding: 10px;
}

.movie-director {
  grid-column: 2/ 3;
  grid-row: 3 / 3;
  padding: 10px;
}

.movie-image {
  grid-column: 3 / 4;
  grid-row: 2 / span 2;
  justify-self: end;
}
