.movie-container {
  font-family: 'Lobster', cursive;
  border: solid 10px black;
  border-width: 100%;
  display: grid;
  box-sizing: border-box;
  justify-content: center;
  grid-template-columns: 1fr auto auto 1fr;
  grid-template-rows: repeat(5, auto);
  grid-gap: 10px;
  background: #2c3e50;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4ca1af, #2c3e50);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4ca1af, #2c3e50);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.movie-title .movie-description {
  font-family: 'Ubuntu', sans-serif;
}

.movie-title {
  font-size: 25px;
  grid-column: 2 / span 2;
  letter-spacing: 1.5px;
}

.movie-year {
  grid-column: 2/3;
  grid-row: 4/5;
}

.movie-description {
  grid-column: 2;
  grid-row-start: 2;
  width: 150px;
  padding: 10px;
  justify-self: start !important;
}

.movie-director {
  grid-column: 2/ 3;
  grid-row: 3 / 3;
  padding: 10px;
}

.movie-image {
  grid-column: 3 / 4;
  grid-row: 2 / span 3;
}
