.movie-container {
  border: solid 10px black;
  border-width: 100%;
  font-family: 'Domine', serif;
  display: inline-grid;
  align-content: center;
  justify-content: center;
  /* width: 100vw; */
  max-width: fit-content;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  grid-gap: 10px;
  /* grid-template-areas: 'title title' 'plot poster' 'director poster' 'released poster'; */
  background: #2c3e50;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4ca1af, #2c3e50);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4ca1af, #2c3e50);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.movie-title .movie-description {
  font-family: 'Domine', serif;
}

.movie-title {
  font-size: 35px;
  grid-column: 1 / span 2;
  letter-spacing: 1.5px;
  justify-self: center;
}

.movie-year {
  grid-column: 1;
  grid-row: 4/5;
  justify-self: center;
  align-self: center;
}

.movie-description {
  grid-column: 1;
  grid-row-start: 2;
  width: 150px;
  padding: 10px;
  justify-self: center;
  align-self: center;
}

.movie-director {
  grid-column: 1;
  grid-row: 3 / 3;
  padding: 10px;
  justify-self: center;
  align-self: center;
}

.movie-image {
  grid-column: 2;
  grid-row: 2 / span 3;
  justify-self: center;
  align-self: center;
}