.form-container {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 0;
}

.input-container {
  justify-self: center;
}

.input-search input[type='submit'] {
  color: #0099cc;
  background: transparent;
  border: 2px solid #0099cc;
  border-radius: 6px;
}