.form-container {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 0;
}

.input-container {
  width: 500px;
  margin: 50px auto;
  position: relative;
}

input {
  height: 60px;
  width: 100%;
  min-width: 100%;
  padding-left: 100px;
  border-radius: 0;
  line-height: 70px;
  background-color: transparent;
  color: black;
  font-size: 30px;
  border: none;
  outline: none;
  border-bottom: 3px solid #333333;
  font-family: Roboto Slab, sans-serif;
}

.input-highlight {
  font-size: 30px;
  line-height: 70px;
  font-family: Roboto Slab, sans-serif;
  max-width: 100%;
  border-top: 3px solid white;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
}